body {
    .wrapper {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        grid-gap             : 10px;
        height               : 720px;

        .contents {
            display  : grid;
            font-size: 40px;

            .btn {
                border          : none;
                background-color: #eee;
                color           : #222;
                font-size       : 2rem;
                font-family     : inherit;
                padding         : 2rem 3rem;
                cursor          : pointer;
                border-radius   : 50%;
            }

            .btn:hover {
                background-color: rgb(245, 245, 121);
                transition      : 300ms;
                box-shadow      : 10px 10px rgb(105, 98, 98);
            }

            p {
                align-items: baseline;
            }

            .guess {
                background   : none;
                border       : 4px solid rgb(19, 223, 104);
                font-family  : inherit;
                color        : inherit;
                font-size    : 5rem;
                padding      : 5px;
                width        : 150px;
                text-align   : center;
                display      : block;
                margin-bottom: 3rem;
            }
        }

        .item {
            grid-column-start: 1;
            grid-column-end  : 4;

            .number {
                height          : 100px;
                width           : 100px;
                background-color: rgb(19, 223, 104);
                border-radius   : 20%;
                font-size       : 50px;
                margin-bottom   : 5%;
            }
        }
    }

    .wrapper * {
        background     : rgb(194, 240, 183);
        display        : flex;
        justify-content: center;
        align-items    : center;
        margin-bottom  : 1px;
        margin-right   : 1px;
    }
}